Level(
    grid: (640, 480),
    initial_pos: (1000, 1000),
    platforms: [
        Platform(
            pos: (950, 340),
            size: (100, 20),
        ),
        Platform(
            pos: (1150, 240),
            size: (100, 20),
        ),
        Platform(
            pos: (0, 450),
            size: (2000, 1000),
        ),
    ],
)
